body{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1, h2{
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}


.top-div{
  background-image: url("/Users/Tambunting/Desktop/Web Development Projects/Huddle Landing Page/images/bg-hero-desktop.svg");
}

.huddle-logo{
  width: 13%;
  margin-top: 40px;
  margin-left: 70px;
}

.try-it-free{
  position: absolute;
  right: 0;
  margin-top: 40px;
  margin-right: 60px;
  padding: 13px 52px;
  border-radius: 20px;
  font-weight: bold;
}

.get-started-for-free{
  padding: 14px 52px;
  border-radius: 25px;
  color: white;
  background-color: rgb(255, 82, 191);
  margin: 20px 0 180px 0;
}

.top-body{
  margin-left: 70px;
}

.top-body-text{
  margin-top: 180px;
}

.mockups-image{
  float: right;
  width: 50%;
  height: auto;
  margin-right: 80px;
  position: relative;
  bottom: 110px;
}
